<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
  <div class="main-content">
    {{>header}}
    <img class="portrait" src="/img/rjshk.jpg" alt="">
    <h3>RJ</h3>
    <p class="l">Lorem ipsum dolor, sit amet consectetur adipisicing elit. In ullam earum laboriosam qui dolor, dolorum id quod labore repellat! Hic et perspiciatis voluptas alias delectus non animi similique neque ducimus rerum eligendi expedita odit aperiam nam rem, laudantium ut dignissimos architecto consectetur ratione quaerat! Voluptatibus, assumenda illo quas dolorum dignissimos vitae optio sint soluta ab tempora ea sunt, odit recusandae enim quibusdam atque fugiat iure, nesciunt similique provident voluptates cum?</p>
  </div>
  {{>footer}}
</body>

</html>