<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=h1, initial-scale=1.0">
  <title>Help</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>{{message}}</p>
    <p class="l">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda voluptatibus eligendi, fugiat repudiandae expedita placeat cupiditate non id quaerat! Eligendi voluptates, maiores cupiditate repellat blanditiis odio voluptatum, consectetur itaque in corporis non similique, quos officiis animi sapiente rerum odit aperiam ipsam ratione esse perferendis at fuga doloremque amet? Blanditiis, placeat iste architecto laudantium animi fugiat! Ducimus a reiciendis harum atque, soluta id doloremque at unde voluptate repellat facere in odio quibusdam maxime fuga. Error laborum tempore natus tenetur harum maiores obcaecati repudiandae dolore tempora, nihil rem eveniet voluptates porro nam eum. Reprehenderit nobis temporibus laudantium, dolore ut consequuntur veniam libero consectetur. Repudiandae itaque ab incidunt! Quae in voluptas iusto ullam quod quas illo dolorum. Reiciendis ad aliquam, asperiores veniam quaerat dolores nemo cupiditate iste perspiciatis repudiandae incidunt quibusdam sapiente voluptas omnis excepturi neque consectetur voluptatem eos animi numquam aliquid! Numquam, ea voluptatibus animi aliquid ullam a, iure nemo saepe, esse ratione recusandae eaque atque repellat deserunt maiores sed dicta? Quae distinctio rem earum eaque veritatis. Consequuntur accusamus, ullam, sint voluptate numquam facilis labore quis nam adipisci tempora iste laudantium porro. Asperiores sequi distinctio suscipit fuga sint iusto ad laboriosam corporis veritatis voluptatem, dolorem earum, architecto vitae error? Maxime fuga praesentium explicabo officiis illum nobis quis, repellat sapiente vitae nemo dicta vel delectus? Cumque sit veniam expedita labore, temporibus culpa assumenda perspiciatis iusto quidem quibusdam minus quisquam est vero ea ipsum asperiores, veritatis laborum voluptate aspernatur voluptatem dolores reiciendis nemo. Natus modi illum minus accusantium doloremque! Natus aliquid corrupti a, quam soluta modi fugit, nobis placeat quia error voluptate earum incidunt vero minus rem dignissimos! Qui voluptas ad harum architecto animi molestias, eligendi, cum hic reiciendis sed maiores in praesentium totam at facilis culpa labore earum. Vero cum suscipit sed eos? Saepe non facere, necessitatibus minus quas numquam rerum ullam praesentium! Beatae provident nulla, eaque autem reprehenderit nihil sequi dolore enim asperiores debitis, quibusdam fuga repellat. Sint praesentium unde hic. Necessitatibus fuga obcaecati perspiciatis in, unde iste harum atque animi deleniti nihil neque sed, et minima asperiores accusamus. Molestiae qui enim incidunt, ipsum doloremque deserunt, corrupti nobis consectetur eos, ex delectus accusantium quam totam minus iste. Ipsum velit necessitatibus fugiat numquam ut nam quod unde quibusdam consequatur exercitationem consectetur deleniti odio perspiciatis, consequuntur quidem cumque expedita! Earum fuga ipsum optio provident voluptatem soluta minima at commodi molestiae harum, iusto laboriosam consectetur nemo debitis consequatur blanditiis mollitia suscipit, illum laudantium deserunt. Tenetur, repudiandae libero quasi inventore recusandae cumque minima vero eaque obcaecati dolorum debitis velit. Magnam veniam sapiente nesciunt distinctio deserunt architecto vero, aperiam et porro, similique amet nobis adipisci reprehenderit nihil harum numquam ipsam consequuntur. Repudiandae, veniam praesentium culpa officia voluptatem ea distinctio ipsam dolorum quis natus earum? Dignissimos quo doloremque eligendi maxime id doloribus amet officia sed, ducimus dolorem aspernatur atque, nisi nesciunt voluptatem veniam alias incidunt ipsa sunt quod repellat! Non doloribus eum et a hic eius quisquam iure corrupti? Corrupti doloribus, eos maxime quod, vero eum adipisci dicta amet, sed dolor placeat autem eligendi. Quas laudantium sed nobis.</p>

  </div>
  {{>footer}}
</body>

</html>